#circleGridItem{
    grid-area:CGI;
}
#ProfileCircle{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background: url(https://cataas.com/cat);
    background-size: cover;
    margin-left: 3vh;
    margin-top: 3vh;
    grid-area: ProfileCircle;

}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#ProfileBox{
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "CGI Username Username" 
                          "Bio Bio Bio";
    width: 30vw;
    height: 30vh;
    border: 3px dashed lightblue;
    border-radius: 5%;
    margin-left: 10%;
    margin-top: 10%;
}

#Username {
    grid-area: Username;
}

#Bio {
    grid-area: Bio;
}
#BioContent {
    width: 80%;
    margin-left: 10%;
}